.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;

    font-variation-settings:
        "wdth" 100;
}

.text-primary{ color: #FD6E0A;}
nav {
    display: flex;
}
.fontid{ font-weight: 800;
font-size: 45px;}

nav ul{list-style: none;
display: flex;}

.font-color{ text-decoration: none;
color: black;
font-size: 20px;}

nav ul li{margin-right: 50px;}
nav{ align-items: center;
justify-content: space-between; 
margin: 0px 1%;}
.button{background-color: #FD6E0A;border-radius: 5px;
color: white;
font-weight: bold;
font-size: 20px;
padding: 18px 35px;
}
ul{ align-items:center ;}










